body {
    font-family: Helvetica, "Helvetica Neue", sans-serif;
}

.indigo{
    color: indigo;
}

.orchid{
    color: orchid;
}

.papyrus{
    font-family: Papyrus, fantasy, sans-serif; font-size: 24px; font-style: normal; font-variant: normal;
}

.centuryGothic{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.makeBigger{
    font-size: 120%;
}